<div class="row">
  <div class="col-lg-6">
    <div class="d-flex align-items-center mb-2">
      <h6 class="mb-0">Scheduled Feeding</h6>
      <hr class="dotted-separator mx-3 flex-grow-1 my-0">
      <h6 class="text-primary mb-0">$150</h6>
    </div>
    <p class="text-muted text-small">Producers Need to train their animals through routine 
      and gradual adjustment before swithing from one feeding method to the other</p>
      <a class="btn btn-info  px-5" href="#">Find More</a>
  </div>
  <div class="col-lg-6">
    <div class="d-flex align-items-center mb-2">
      <h6 class="mb-0">Limited Feeding</h6>
      <hr class="dotted-separator mx-3 flex-grow-1 my-0">
      <h6 class="text-primary mb-0">$250</h6>
    </div>
    <p class="text-muted text-small">Producers Need to train their animals through routine 
      and gradual adjustment before swithing from one feeding method to the other</p>
      <a class="btn btn-info  px-5" href="#">Find More</a>
  </div>
  <div class="col-lg-6">
    <div class="d-flex align-items-center mb-2">
      <h6 class="mb-0">Full Feeding</h6>
      <hr class="dotted-separator mx-3 flex-grow-1 my-0">
      <h6 class="text-primary mb-0">$175</h6>
    </div>
    <p class="text-muted text-small">Producers Need to train their animals through routine 
      and gradual adjustment before swithing from one feeding method to the other</p>
      <a class="btn btn-info  px-5" href="#">Find More</a>
  </div>
  <div class="col-lg-6">
    <div class="d-flex align-items-center mb-2">
      <h6 class="mb-0">Free Access Feeding</h6>
      <hr class="dotted-separator mx-3 flex-grow-1 my-0">
      <h6 class="text-primary mb-0">$225</h6>
    </div>
    <p class="text-muted text-small">Producers Need to train their animals through routine 
      and gradual adjustment before swithing from one feeding method to the other</p>
      <a class="btn btn-info  px-5" href="#">Find More</a>
  </div>
  <div class="col-lg-6">
    <div class="d-flex align-items-center mb-2">
      <h6 class="mb-0">Supplimental Feeding</h6>
      <hr class="dotted-separator mx-3 flex-grow-1 my-0">
      <h6 class="text-primary mb-0">$175</h6>
    </div>
    <p class="text-muted text-small">Producers Need to train their animals through routine 
      and gradual adjustment before swithing from one feeding method to the other</p>
      <a class="btn btn-info  px-5" href="#">Find More</a>
  </div>
  <div class="col-lg-6">
    <div class="d-flex align-items-center mb-2">
      <h6 class="mb-0">Animal Deworming</h6>
      <hr class="dotted-separator mx-3 flex-grow-1 my-0">
      <h6 class="text-primary mb-0">$175</h6>
    </div>
    <p class="text-muted text-small">We provide effective and top class deworming 
      products for different animals</p>
      <a class="btn btn-info  px-5" href="#">Find More</a>
  </div>
</div>