<!--Navigation bar-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">LIMA</a>
    </div>

    <div class="spacer"></div>
    <div id="navbar" class="navbar-collapse collapse" style="height: 1px;" >

      <!--navbar left-->
      <ul class="nav navbar-nav menu">
          <li routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/">Home</a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['users']">Connect</a>
          </li>
          <li class="nav-item" *ngIf="admin">
          <a [routerLink]="['admin']">Admin</a>
         </li>
         <li class="nav-item" *ngIf="dealer">
          <a [routerLink]="['dealer']">Dealer</a>
         </li>
          <li routerLinkActive="active">
            <a [routerLink]="['dashboard']">Dashboard</a>
          </li>
          <li routerLinkActive="active"  *ngIf="isLoggedIn">
            <a [routerLink]="['posts']">Posts</a>
          </li>
      </ul>

      <!--authenticated-->
      <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedIn">
      <li class="nav-item">
       	 <a *ngIf="isLoggedIn" [routerLink]="['farmer']">Farmer</a>
        </li>
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <i class="fa fa-user"></i> Welcome {{username}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/profile']"><i class="fa fa-user"></i> My Profile</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer"><i class="fa fa-sign-out"></i> Logout</a></li>
          </ul>
        </li>
      </ul>

      <!--not authenticated-->
      <ul class="nav navbar-nav navbar-right" *ngIf="!isLoggedIn">
        <li routerLinkActive="active" class="dropdown" appDropdown>
          <button  class="btn btn-primary navbar-btn dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span>Account<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="onSignUp()"><i class="fa fa-sign-up">
              </i> SignUp</a>
           </li>
            <li class="divider"></li>
            <li><a class="dropdown-item" [routerLink]="['/usertype']" style="cursor: pointer">
              <i class="fa fa-sign-in"></i> SignIn</a>
            </li>
            <li><a class="dropdown-item" style="cursor: pointer">
              <mat-icon>help</mat-icon> Help</a>
            </li>
          </ul>
        </li>
      </ul>

    </div>

  </div>
</nav>

<!--Sidebar-->
<!-- <div class="col-md-2 sidebar" [ngClass]="!isAuthenticated ? 'hide' : ''">
  <ul class="nav nav-sidebar">
    <li routerLinkActive="active"><a [routerLink]="['/home']" ><mat-icon>home</mat-icon><span>Home</span></a></li>
    <li routerLinkActive="active"><a [routerLink]="['/messages']"><mat-icon>person</mat-icon><span>Profile</span></a></li>
    <li routerLinkActive="active"><a [routerLink]="['/lists']" ><mat-icon>help</mat-icon><span>Help</span></a></li>
    <li routerLinkActive="active"><a [routerLink]="['/messages']"><mat-icon>messages</mat-icon><span>Messages</span></a></li>
    <li routerLinkActive="active"><a [routerLink]="['/messages']"><mat-icon>settings</mat-icon><span>Settings</span></a></li>
    <li routerLinkActive="active"><a [routerLink]="['/messages']"><mat-icon>teams</mat-icon><span>Teams</span></a></li>

  </ul>
</div> -->
