<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#limabar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        Menu
      </button>
      <a href="/" class="navbar-brand">Li<em>MA</em></a>
    </div>

    <div class="collapse navbar-collapse" id="limabar">
      <ul class="nav navbar-nav menu">
        <li routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/">Home</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="servers">Servers</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['users']">Users</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['dashboard']">Dashboard</a>
        </li>
        <li routerLinkActive="active">
            <button class="btn btn-success navbar-btn" (click)="onLoadServer(1)">Load Server 1</button>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['shop']">Shop</a>
        </li>
      </ul>
      <form class="navbar-form navbar-left search" action="#">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="search">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-info">
              <i class="glyphicon glyphicon-search"></i>Search
            </button>    
          </div>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active">
          <button *ngIf="!LoggedIn" class="btn btn-primary navbar-btn" (click)="onLogin()">
            <span class="glyphicon glyphicon-user"></span>Login
          </button>
        </li>
        <li routerLinkActive="active">
          <button *ngIf="LoggedIn" class="btn btn-primary navbar-btn" (click)="onLogout()">
            <span class="glyphicon glyphicon-log-out"></span>Logout
          </button>
        </li>
        <li class="dropdown" appDropdown *ngIf="LoggedIn">
          <a style="cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown" role="button">Profile <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" >Settigs</a></li>
            <li><a style="cursor: pointer;">Teams</a></li>
            <li><a style="cursor: pointer;">Register</a></li>
            <li><a style="cursor: pointer;">LogOut</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>