<div class="row">
    <div class="col-lg-6">
      <div class="d-flex align-items-center mb-2">
        <h6 class="mb-0">Pigs Housing</h6>
        <hr class="dotted-separator mx-3 flex-grow-1 my-0">
        <h6 class=" mb-0">$150</h6>
      </div>
      <p class="text-muted text-small">Different Housing techniques are require 
        for piglets, the mother pig as well as the rest of the male flock</p>
     <a class="btn btn-info  px-5" href="#">Find More</a>
    </div>
    <div class="col-lg-6">
      <div class="d-flex align-items-center mb-2">
        <h6 class="mb-0">Cattle Housing</h6>
        <hr class="dotted-separator mx-3 flex-grow-1 my-0">
        <h6 class=" mb-0">$250</h6>
      </div>
      <p class="text-muted text-small">Cattle Housing depends on whether the animal is 
        a calf, beef cattle of dairy cattle</p>
        <a class="btn btn-info  px-5" href="#">Find More</a>
    </div>
    <div class="col-lg-6">
      <div class="d-flex align-items-center mb-2">
        <h6 class="mb-0">Chicken Housing</h6>
        <hr class="dotted-separator mx-3 flex-grow-1 my-0">
        <h6 class=" mb-0">$175</h6>
      </div>
      <p class="text-muted text-small">For Chicken we have housing modes for layers, broilers, and chicks</p>
      <a class="btn btn-info  px-5" href="#">Find More</a>
    </div>
    <div class="col-lg-6">
      <div class="d-flex align-items-center mb-2">
        <h6 class="mb-0">Sheep Housing</h6>
        <hr class="dotted-separator mx-3 flex-grow-1 my-0">
        <h6 class=" mb-0">$225</h6>
      </div>
      <p class="text-muted text-small">The method of housing adopted in sheep depends with the
         production system adopted for the flock</p>
         <a class="btn btn-info  px-5" href="#">Find More</a>
    </div>
    <div class="col-lg-6">
      <div class="d-flex align-items-center mb-2">
        <h6 class="mb-0">Dogs Housing</h6>
        <hr class="dotted-separator mx-3 flex-grow-1 my-0">
        <h6 class=" mb-0">$175</h6>
      </div>
      <p class="text-muted text-small">Different breeds of dogs demand for different housing 
        measures in order to match their living habits.</p>
        <a class="btn btn-info  px-5" href="#">Find More</a>
    </div>
</div>
