<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status ? 'hide' : ''">
    <a href="/" class="brand">
        <i class='glyphicon glyphicons-smile'></i>
        <span class="text">LI<em>MA</em></span>
    </a>
    <ul class="side-menu top">
        <li class="active">
            <a href="/dashboard">
                <i class='glyphicon glyphicons-dashboard'></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='glyphicon glyphicons-shopping-bag-alt'></i>
                <span class="text">My Store</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='glyphicon glyphicons-doughnut-chart'></i>
                <span class="text">Analytics</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='glyphicon glyphicons-message-dots'></i>
                <span class="text">Message</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='glyphicon glyphicons-group'></i>
                <span class="text">Team</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="#">
                <i class='glyphicon glyphicons-cog'></i>
                <span class="text">Settings</span>
            </a>
        </li>
        <li>
            <a href="#" (click)="onLogout()" class="logout">
                <i class='glyphicon glyphicons-log-out-circle'></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>
<!-- SIDEBAR -->
<!-- CONTENT -->
<section id="content">
    <!-- NAVBAR -->
   
    <!-- NAVBAR -->
    <!-- MAIN -->
    <main class="bg-light">
        <div class="head-title">
            <div class="left">
                <h1>Dashboard</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="dashboard">Dashboard</a>
                    </li>
                    <li><i class='glyphicon glyphicon-chevron-right'></i></li>
                    <li>
                        <a class="active" href="/">Home</a>
                    </li>
                </ul>
            </div>
            <a href="#" class="btn-download">
                <i class='glyphicon glyphicons-cloud-download'></i>
                <span class="text">Download PDF</span>
            </a>
        </div>
        <ul class="box-info">
            <li class="bg-info">
                <i class='glyphicon glyphicons-calendar-check'></i>
                <span class="text">
                    <h3>1020</h3>
                    <p>New Order</p>
                </span>
            </li>
            <li class="bg-info">
                <i class='glyphicon glyphicons-group'></i>
                <span class="text">
                    <h3>2834</h3>
                    <p>Connections</p>
                </span>
            </li>
            <li class="bg-info">
                <i class='glyphicon glyphicons-dollar-circle'></i>
                <span class="text">
                    <h3>$2543</h3>
                    <p>Total Sales</p>
                </span>
            </li>
        </ul>
        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Recent Orders</h3>
                    <i class='glyphicon glyphicon-search'></i>
                    <i class='glyphicon glyphicon-filter'></i>
                </div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr class="bg-info">
                            <th>User</th>
                            <th>Date Order</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="/assets/images/avatar.png" alt="avatar">
                                <p>John Scott</p>
                            </td>
                            <td>01-10-2023</td>
                            <td><span class="status completed">Completed</span></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/assets/images/avatar.png" alt="avatar">  
                                <p>John Scott</p>
                            </td>
                            <td>01-10-2023</td>
                            <td><span class="status pending">Pending</span></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/assets/images/avatar.png" alt="avatar">
                                <p>John Scott</p>
                            </td>
                            <td>01-10-2023</td>
                            <td><span class="status process">Process</span></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/assets/images/avatar.png" alt="avatar">
                                    
                                <p>John Scott</p>
                            </td>
                            <td>01-10-2023</td>
                            <td><span class="status pending">Pending</span></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/assets/images/avatar.png" alt="avatar">
                                    
                                <p>John Scott</p>
                            </td>
                            <td>01-10-2023</td>
                            <td><span class="status completed">Completed</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="todo">
                <div class="head">
                    <h3>Todos</h3>
                    <i class='glyphicon glyphicon-plus'></i>
                    <i class='glyphicon glyphicon-filter'></i>
                </div>
                <ul class="todo-list">
                    <li class="completed">
                        <p>Todo List</p>
                        <i class='bx bx-dots-vertical-rounded'></i>
                    </li>
                    <li class="completed">
                        <p>Todo List</p>
                        <i class='glyphicon glyphicon-dots-vertical-rounded'></i>
                    </li>
                    <li class="not-completed">
                        <p>Todo List</p>
                        <i class='glyphicon glyphicon-dots-vertical-rounded'></i>
                    </li>
                    <li class="completed">
                        <p>Todo List</p>
                        <i class='glyphicon glyphicon-dots-vertical-rounded'></i>
                    </li>
                    <li class="not-completed">
                        <p>Todo List</p>
                        <i class='glyphicon glyphicon-dots-vertical-rounded'></i>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <!-- MAIN -->
</section>
<!-- CONTENT -->
