 <div class="row">
      <div class="col-lg-6">
        <div class="d-flex align-items-center mb-2">
          <h6 class="mb-0">Animal Vaccination</h6>
          <hr class="dotted-separator mx-3 flex-grow-1 my-0">
          <h6 class="text-primary mb-0">$150</h6>
        </div>
        <p class="text-muted text-small">We offer various vaccination for different animals</p>
        <a class="btn btn-info  px-5" href="#">Find More</a>
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center mb-2">
          <h6 class="mb-0">Dental Care</h6>
          <hr class="dotted-separator mx-3 flex-grow-1 my-0">
          <h6 class="text-primary mb-0">$250</h6>
        </div>
        <p class="text-muted text-small">Dental Scalling to remove dental tartar and extraction of 
          rotten Teeth for different animals</p>
          <a class="btn btn-info  px-5" href="#">Find More</a>
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center mb-2">
          <h6 class="mb-0">Animal Surgery</h6>
          <hr class="dotted-separator mx-3 flex-grow-1 my-0">
          <h6 class="text-primary mb-0">$175</h6>
        </div>
        <p class="text-muted text-small">We handle emergency surgeries but not limited to trauma, 
          dog bites/fight and injuries or car run-offs</p>
          <a class="btn btn-info  px-5" href="#">Find More</a>
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center mb-2">
          <h6 class="mb-0">Animal Microchipping</h6>
          <hr class="dotted-separator mx-3 flex-grow-1 my-0">
          <h6 class="text-primary mb-0">$225</h6>
        </div>
        <p class="text-muted text-small">For tracking and Animal identification purposes,
           we do microchip implantation</p>
           <a class="btn btn-info  px-5" href="#">Find More</a>
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center mb-2">
          <h6 class="mb-0">Parasite Control</h6>
          <hr class="dotted-separator mx-3 flex-grow-1 my-0">
          <h6 class="text-primary mb-0">$175</h6>
        </div>
        <p class="text-muted text-small">We are dedicated to provide long-term parasite control
           mechanisms and medication for your animal</p>
           <a class="btn btn-info  px-5" href="#">Find More</a>
      </div>
 </div>
